/***************************
    background
****************************/

.login_wrapper {
  min-height: 100vh;
  padding: 4em 0;
  justify-content: space-around;
  font-family: $font_family;
  color: $white;
	background: {
		image:url("../images/bg.jpeg");
		position: center bottom;
		repeat: no-repeat;
		size: cover; 
	}


/***************************
    logo
****************************/

.logo {
	width: 160px;
  height: 160px;
  margin:0 auto 10px;;
  display:flex;
  align-items: center;
  justify-content: center;
  border:2px solid rgba($white, 0.3);
  border-radius: $b_radius;
}

/***************************
    logging in section
****************************/

.log_wrapper {
	max-width: 550px;
}

.log_panel {
  padding: 3em 1.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $mainblue;
  border-radius: $b_radius;
  h1 {
    font-size: 2.6rem;
  	font-family: $font_family;
  }
}

form {
  width: 100%;
}
  
fieldset {
  padding: 0px 20px 30px;
  margin-top: 80px;
  border:1px solid rgba($white, 0.22);
  border-radius: $b_radius;
}
  		
.avatar {
  width: 95px;
  height: 95px;
  position: relative;
  top: -47px;
  left: 50%;
  border-radius: 50%;
  background-color: $white;
  transform: translate(-50%);
}

.user_id {
  display: none;
	text: {
	shadow: 0.5px 0.5px 0 $white;
	align: left;
  }
}

#password,
#user_new_id {
	max-width: 90%;
	margin: 0 auto 1.5em;
  display: inline-block;
	border-radius: $b_radius;
	box-shadow: inset 0px 2px 0 0 rgba(0, 0, 0, 0.22);
	&:focus {
    background-color: rgba($darkblue,0.5);
		color: $white;
		transition: $animation;
	}
}

.keyboard {
	max-width: 26px;
  margin: 10px auto;
  display: block;
}

.error_info {
  width: max-content;
  margin: -10px auto 10px;
  padding: 5px;
  position: relative;
  background-color: red;
  border-radius: $b_radius;
  &:after {
    content:'';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: calc(50% - 5px);
    border: {
      top: 10px solid transparent;
      right: 10px solid transparent;
      bottom: 10px solid #FF0000;
      left: 10px solid transparent;
    }
  }
}

.error {
  border: 2px solid #FF0000;
}

input[type="submit"],
.other_user {
	width: 120px;
  margin:5px 10px;
  font-size: 15.5px;
  line-height: 2.6;
	background-color: $white;
	border-radius: $b_radius;
	box-shadow:none;
	border: none;
  cursor: pointer;
	&:hover {
    color: $white;
		background-color: rgba(0, 0, 0, 0.22);
		transition: $animation;
	}
}

.other_user {
  color: $white;
  background-color: transparent;
}

/***************************
    logo
****************************/

footer {
  margin: 0 auto;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.3px;
	ul {
    margin:0;
		list-style-type: none;
		text-shadow: 0.6px 0.8px 0 rgba(15, 15, 15, 0.83);
		li {
			padding: 1em;
			float: left;
			a {
        color: rgba($white,0.8);
				&:hover {
          color: $mainblue;
					transition: $animation;
				}
			}
			&:first-child {
        padding-left:0;
			}
		}

		.facebook {
      float: right;
      padding: 10px 0;
			color: $white;
		}
	}
}

} //end of login wrapper