    /*
    Flaticon icon font: Flaticon
    Creation date: 31/08/2017 22:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-left-arrow:before { content: "\f100"; }
.flaticon-chevron-arrow-down:before { content: "\f101"; }
.flaticon-question-mark:before { content: "\f102"; }
.flaticon-cell-phone:before { content: "\f103"; }
.flaticon-different-currencies:before { content: "\f104"; }
.flaticon-dollar-coin-money:before { content: "\f105"; }
.flaticon-user-male-black-shape:before { content: "\f106"; }
.flaticon-coin-stack:before { content: "\f107"; }
.flaticon-open-book:before { content: "\f108"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f109"; }
.flaticon-id-card:before { content: "\f10a"; }
    
    $font-Flaticon-left-arrow: "\f100";
    $font-Flaticon-chevron-arrow-down: "\f101";
    $font-Flaticon-question-mark: "\f102";
    $font-Flaticon-cell-phone: "\f103";
    $font-Flaticon-different-currencies: "\f104";
    $font-Flaticon-dollar-coin-money: "\f105";
    $font-Flaticon-user-male-black-shape: "\f106";
    $font-Flaticon-coin-stack: "\f107";
    $font-Flaticon-open-book: "\f108";
    $font-Flaticon-calendar-with-a-clock-time-tools: "\f109";
    $font-Flaticon-id-card: "\f10a";